@import 'compass/reset';
@import 'compass';
@import 'bootstrap';
@import 'datepicker';

body { padding-top: ($navbarHeight + 20) }

*, body, input, button, select, textarea {
  font-family: 'Imprima', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@import "bootstrap-responsive";
@import "datepicker";

.navbar .brand {
  span {
    @include transform(rotate(-25deg)
                       translate(0, 2px)
                       scale(2.5));
    color: $blue;
    display: inline-block;
    font-family: 'Gochi Hand', Arial, sans-serif;
  }
  @include text-shadow(1px 1px 0px black);
  font-size: 25px;
}

ul.horizontal-list li span.label {
  margin-left: 0;
  margin-right: 5px;
}

#flash-view {
  position: fixed;
  top: 0px;
  z-index: 2000;
  padding: 1em;
  margin-left: 40%;
  @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.3));
  border: 1px solid;
  border-top: 0;
  @include border-radius(0);
  @include opacity(0.9);
}

ul {
  list-style: none;
  @include transition(all .5s ease-in-out);

  &#tasks > li {
    padding: 5px;
    border: 1px dotted #666;
    border-left: 11px double #DADADA;
    margin-top: -1px;
    @include border-radius(0 10px 10px 0);
  }

  &.horizontal-list {
    height: 20px;

    li {
      margin: auto;
      padding: 0;
      line-height: 20px;

      span { margin-left: 5px; }
    }

    li:first-child { margin: 0 5px; }
    li:first-child input { @include scale(1.7); }
    li:first-child, li.right { text-align: center; }
    li.right { float: right; font-size: 10px; }
    li.delete, li.edit { line-height: initial; }
    li.edit { padding-right: 0; }
    li.drag { padding: 0; margin: 0; }

    @include horizontal-list;
  }
}

.done li.content {
  text-decoration: line-through;
  font-style: italic;
  @include opacity(0.5);
}

.centered, table#tasks tr :last-child, table#tasks tr :first-child {
  text-align: center;
  label { margin: 0; }
}

div.wrap {
  display: inline;
}

@media (max-width: 767px) {
  ul.horizontal-list { position: relative; }

  ul#tasks li {
    height: 100px;

    &.content {
      position: absolute;
      top: 25px;
      left: 0;
    }

    &.right {
      float: initial !important;
      position: absolute;
      top: 0;
      right: 65px;

      &.delete {
        right: 0;
      }

      &.edit {
        right: 30px;
      }
    }
  }

  div.wrap {
    display: block;
    margin: 10px;
  }
}

