@import 'compass/reset';
@import 'compass';
@import "bootstrap";

body { padding-top: ($navbarHeight + 20) }

@import "bootstrap-responsive";
@import "datepicker";

#flash-view {
  position: fixed;
  top: 0px;
  z-index: 2000;
  padding: 1em;
  margin-left: 40%;
  @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.3));
  border: 1px solid;
  border-top: 0;
  @include border-radius(0);
  @include opacity(0.9);
}

ul {
  list-style: none;
  @include transition(all .5s ease-in-out);

  &#tasks > li {
    padding: 5px;
    border: 1px dotted #666;
    border-left: 11px double #DADADA;
    margin-top: -1px;
    @include border-radius(0 10px 10px 0);
  }

  &.horizontal-list {
    height: 20px;

    li {
      margin: auto;
      padding: 0;
      line-height: 20px;

      span { margin-left: 5px; }
    }

    li:first-child { margin: 0 5px; }
    li:first-child input { @include scale(1.7); }
    li:first-child, li.right { text-align: center; }
    li.right { float: right; font-size: 10px; }
    li.delete { line-height: initial; }

    @include horizontal-list;
  }
}

.done {
  text-decoration: line-through;
  font-style: italic;
  @include opacity(0.5);
}

.centered, table#tasks tr :last-child, table#tasks tr :first-child {
  text-align: center;
  label { margin: 0; }
  
  input[type="checkbox"] {
    margin: auto;
    height: 20px;
    @include scale(2.0);
  }
}

@media (max-width: 979px) {
}

